/* Resets */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
p,
h1,
h2 {
  padding: 0;
  margin: 0;
}

/* Global */
:root {
  --color-green: hsl(75, 94%, 57%);
  --color-grey-700: hsl(0, 0%, 20%);
  --color-grey-800: hsl(0, 0%, 12%);
  --color-grey-900: hsl(0, 0%, 8%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
